
<template>
<footer id="main-footer" class="bg-dark text-white mt-5 footer-wrap">
    <div class="container">
      <div class="row">
        <div id="footerTxt" class="col">
          <p class="lead text-center">
            Copyright &copy;
            <span id="year"></span>
             iTolling
          </p>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>

import { mapGetters } from "vuex";

export default {
  components: {
  },
  data(){
    return{
      footerAbs: true,
    }
  },
  methods:{

  },
  mounted(){
  }
}
</script>

<style scoped>
/* .footer-wrap  {
    position: relative !important;
    bottom: 0;
    width: 100%;
}  */

.footer-wrap {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 35px;
    width: 100%;
}

</style>