<template>
  <div id="app">
    <AppHeader></AppHeader>
    <div class="main-body">
      <router-view/>
    </div>
    <AppFooter></AppFooter>
  </div>
</template>

<script>
import AppHeader from "@/components/AppHeader";
import AppFooter from "@/components/AppFooter";
import { mapGetters } from "vuex";

export default {
  name: "App",
  components: {
    AppHeader,
    AppFooter
  },
  methods: {},
  computed: {}
};
</script>

<style scoped>
.main-body {
  height: 100%;
  position: relative;
}

#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 0px;
}

.footer-wrap {
  position: absolute;
  bottom: 0;
  height: auto;
  width: 100%;
}
</style>
